*{
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif;

}
a{
  text-decoration: none;
}
li{
  list-style: none;

}
.container{
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  overflow-x: hidden;


  flex: 1 0 auto;


}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.slick-next{
  right: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.slick-prev{
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
}
.slick-next::before {
  content: '';
}
.slick-prev::before {
  content: '';
}

.content-header:before,
.content-header:after {
  content: '';


  display: inline-block;


  vertical-align: middle;

  box-sizing: border-box;


  width: 100%;
  height: 3px;
  background: #343e5c;
  margin:0 80px;

  border: solid #FFF;
  border-width: 0 10px;
}
.content-header{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  font-size: 26px;
  font-weight: 800;
}
.card-holder{
  display:flex;
  /* justify-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 30px;



}
.categories-container{
  display: flex;
  flex-direction: column;
}
.content-left{
  display: flex;
}
.categories{
  display: flex;
  flex-basis: 20%;

}
.left-categories{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 40px;
  padding-left: 20px;
}
.left-categories ul li{

  display: flex;
  margin: 10px auto;

}
.products{
  display: flex;
  flex-basis: 80%;

}

#range-slider{
  margin: 0 auto;
}

.container-form{
  max-width:600px;
  margin: 120px auto;

}
.container-form h1 {
  margin: 0 auto;
  text-align: center;
  color: #4f5c83;
}
.container-form form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.form-input{

  /* width: 500px;
  max-width: 600px; */

  /* background-color: aqua; */
}
.container-form-item{
  width: 600px;
  display: flex;
  margin: 20px auto;
  align-items: center;

}
.container-form-item input{
  width: 500px;

}
.container-form-item textarea{
  width: 500px;

}